<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<a href="{{ url_for('process', questionLink='q1') }}">Question 1</a><br/>
	<a href="{{ url_for('process', questionLink='q2') }}">Question 2</a><br/>
	<a href="{{ url_for('process', questionLink='q3') }}">Question 3</a><br/>
	<a href="{{ url_for('process', questionLink='q4') }}">Question 4</a><br/>
	<a href="{{ url_for('process', questionLink='q5') }}">Question 5</a><br/>
	<a href="{{ url_for('process', questionLink='q6') }}">Question 6</a><br/>
	<a href="{{ url_for('process', questionLink='q7') }}">Question 7</a><br/>
	<a href="{{ url_for('process', questionLink='q8') }}">Question 8</a><br/>
	<a href="{{ url_for('process', questionLink='q1midsem') }}">Question Midsem1</a><br/>
	<a href="{{ url_for('process', questionLink='q2midsem') }}">Question Midsem2</a><br/>
	
</body>
</html>